@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
:root {
  --bg-color: #f1f1f1;
  --text-color: #000;
  --main-color: #003eb3;
  --second-color: #9aee8b;
  --third-color: #4182bf;
  --fourth-color: #38b6ff;
  --fifth-color: #725fcf;
  --h1-font: 4rem;
  --h2-font: 3rem;
  --h3-font: 2.5rem;
  --h4-font: 2rem;
  --p-font: 1.1rem;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 100px;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: white;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-color);
}
.navbar .logo a:hover {
  color: var(--second-color);
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: var(--second-color);
  background: #7895B2;
  padding: 10px 15px;
  border-radius: 10px;
}
.banner{
  background: url("assets/background.png") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* sticky socials */
.sticky-container{
	display:flex;
  padding: 0px;
	margin: 0px;
	position: fixed;
	right: -119px;
	bottom: 130px;
	width: 200px;
  
}
.sticky-container a{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  background:  black;
	margin: 0px 10px 45px;
	color: #F3EBE4;
	text-decoration: none;

}
.sticky-container a:hover{
	transform: scale(1);
	transition: .2s;
	background: var(--third-color);
  color: var(--second-color);
}
.sticky li{
  list-style-type: none;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  cursor: 50%; 
}
.sticky li a{
	float: left;
	margin: 5px 5px;
	margin-right: 10px;
  border-radius:50%; 
}
/* intro */
.intro {
  display: block;
  height: 70vh;
  width: 100%;
  padding: 250px 500px 500px 200px;
}
span {
  color: var(--second-color);
}
.intro h1 {
  font-size: var(--h1-font);
}
.intro h3 {
  font-size: var(--h3-font);
  margin-bottom: 20px;
}
.intro p {
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 40px;
  font-size: var(--p-font);
}
.intro-contact {
  background: var(--third-color);
  color: var(--second-color);
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 20px;
  text-decoration: none;
}
.intro-contact:hover {
  /* text-decoration: underline; */
  padding: 25px 35px;
}
/* projects */
.projects{
  height:100%;
  max-width:100%;
  padding: 50px 150px 0 200px;
}
.projects span{
  color: var(--main-color);
}
.col{
	position: relative;
}
.col img{
	max-width: 100%;
	width: 550px;
	height: auto;
	object-fit: cover;
	border-radius: 12px;
}
.projects-content{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, auto));
	grid-gap: 1.5rem;
	align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.row{
	background: white;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	padding: 50px;
	transition: ease .45s;
	cursor: pointer;
}
.row h3{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2px;
}
.row h4{
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 19px;
}
.row p{
	line-height: 20px;
}

@media screen and (max-width: 700px) {
  .projects-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 1rem;
  }
  .row{
    padding: 35px;
  }
}
/* about me */
.about-me{
  height:60vh;
  max-width:100%;
  padding-left:200px;
  padding-right:150px;
}
.about-me img{
  width:700px;
  height:350px;
  object-fit:cover;
  border-radius:10px;
  margin-top:20px;
  margin-left:50px;
}
.about-main{
  display:flex;
	align-items:center;
	justify-content:space-between;
  flex-direction:row-reverse;
}
.about-desc h3{
  font-size: var(--h3-font);
  margin-bottom: 20px;
}
.about-desc p{
  letter-spacing:1px;
  line-height:28px;
  font-size:18px;
}
.about-desc ul{
  letter-spacing:1px;
  line-height:28px;
  font-size:18px;
  margin-left:40px;
}
/* footer */
footer{
  height:10vh;
  max-width:100%;
  padding: 20px 200px;
}
